// Body
$body-bg: #252525;

$bg-dark: #000000;

$title-light: #ffffff;

// Typography
$font-family: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #b00606;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$light-grey: #d1d3d4;
$transparent: transparent;
$blue: #0744b7;
$txt-color-d1d2d3: #d1d2d3;
$light-red: #f70e0e;

// Border size
$border-size-1: 1px;
$border-size-2: 2px;
